/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.me-auto {
    display: flex;
    gap: 10px;
    text-decoration: none;
}

.linkbtn {
    text-decoration: none;
    color: aliceblue;
    font-size: 1.2rem;
}

.linkbtn:hover {
    color: crimson;

}

/* .color-nav{
    background-color: black !important;
} */



.imglogo {
    height: 150px;
    width: 150px;
}


/* 
.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: end;
    background-color: black;
    padding: 10px ;
}



.list-container{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    list-style-type: none;    
}


.nav-btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.nav-btn:hover {
    color:crimson;
}  */