#navBarFondo{
    background-color: black;
}




/* .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: end;
    background-color: black;
    padding: 10px ;
}

.imglogo {
    height: 100px;
    width: 100px;
}

.list-container{
    
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    list-style-type: none;    
}


.nav-btn{
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

.nav-btn:hover {
    color:crimson;
} */



